{% extends 'base.html' %}
<title>
  {% block title %}
      Create Post
  {% endblock %}
</title>


{% block content %}
<section class="add-post">
    <div class="contentBox">
        <h2><i class="fas fa-plus-circle"></i>Add Post</h2>
        <div class="formBox">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="inputBox">
                    <label>Post Title</label>
                    {{ form.title }}
                </div>

                <div class="inputBox">
                    <label>Post Category</label>
                    {{ form.category }}
                </div>

                <div class="inputBox">
                    <label>Post Tag</label>
                    {{ form.tags }}
                </div>

                <div class="inputBox">
                    <label>Post Body</label>
                    {{ form.content }}
                </div>

                <div class="fileBox">
                    <span>pick an image</span>
                    <label for="id_image" class="custom-file-upload">
                        <span class="img-icon fas fa-magic"></span>
                    </label>
                    {{ form.image }}
                </div>

                <div class="inputBox">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
