{% extends 'base.html' %}
{% load static %}
{% load humanize %}
<title>
  {% block title %}
      Post Listings
  {% endblock %}
</title>


{% block content %}
<section class="post">
    <div class="content">
      {% for article in articles %}
        <div class="post-card">
            <div class="img">
                {% if article.author.profile.avatar %}
                <img src="{{ article.author.profile.avatar.url }}" alt="User Image">
                {% else %}
                <img src="{% static 'img/add-profile.jfif' %}" alt="User Image">
                {% endif %}
            </div>
            <div class="text">
                <h3 class="date">{{ article.created_at |naturaltime }}</h3>
                <h1 class="title">{{ article.title }}</h1>
                <p class="body">
                    {{ article.content |truncatechars:150 }}
                </p>
            </div>
            <a href="{% url 'posts:post_detail' article.slug %}" class="btn">Read More</a>
        </div>
        {% endfor %}
    </div>
    <div class="side-bar">
        <div class="search">
            <form action="{% url 'posts:search_results' %}" method="GET">
                <input class="text" type="text" name= "q" placeholder="Search ...">
            </form>
        </div>
        <div class="topics">
            <p>topics</p>
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'posts:category' category.slug %}">{{ category.category_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
