{% extends 'base_1.html' %}
{% load static %}
<title>
  {% block title %}
      Contact Us
  {% endblock %}
</title>


{% block content %}
<section class="contact-us">
    <div class="imgBox">
        <img src="{% static 'img/contact-2.jpg' %}" alt="Signin">
    </div>
    <div class="contentBox">
        <div class="formBox">
            <h2>Get In Touch</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="inputBox">
                    {{ form.subject }}
                    <!-- <input class="email" type="text" placeholder="johndoe@gmail.com"> -->
                </div>
                <div class="inputBox">
                    {{ form.email }}
                    <!-- <input class="email" type="email" placeholder="johndoe@gmail.com"> -->
                </div>
                <div class="inputBox">
                    {{ form.message }}
                    <!-- <textarea class="message" cols="30" rows="10" placeholder="Enter Your Message Here ..."></textarea> -->
                </div>
                <div class="inputBox">
                    <button type="submit">Message</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
